body {
    background-color: powderblue; font-family: Verdana; text-align: center;
  }
  h1 {
    color: blue; font-family: Verdana; text-align: center;
  }
  p {
    color: red; font-family: Verdana; text-align: center;
  }