body {
    background-color: powderblue; font-style: Verdana; text-align: center;
  }
  h1 {
    color: blue; font-style: Verdana; text-align: center;
  }
  p {
    color: red; font-style: Verdana; text-align: center;
  }